version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15.1

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      # Install yarn dependencies
      - run: yarn install --cache-folder ~/.cache/yarn

      # Save node_modules to the cache
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v2-dependencies-{{ checksum "yarn.lock" }}

      # Run tests
      - run: yarn lint
      - run: yarn build
      - run: yarn check-typings
      - run: yarn test --runInBand
      - run: 'bash <(curl -s https://codecov.io/bash)'

      # Run DangerJS
      - run: '[ -z "$DANGER_GITHUB_API_TOKEN" ] || yarn danger ci'
